.container {
	background-color: white;
	height: 100vh;
	&__list {
		padding: 2em 2em;
		display: flex;
		justify-content: flex-start;
	}
}

.list {
	width: 20em;
	background-color: white;
	margin: auto;
	border-radius: 5px;
	border: .5px solid rgb(233, 231, 231);
	overflow: hidden;
	background-color:rgb(230, 255, 230);
	&__header {
		display: flex;
		justify-content: flex-start;
		align-items: center; 
		background-color:rgb(50, 205, 50);
		height: 3em;
	}
	&__title {
		background-color: rgb(50, 205, 50);
		color: white;
		font-weight: bold;
		padding-left: 1em;
	}
	&__task {
		padding-left: .5em;
		margin: .5em;
		background-color: white;
		border: .5px solid grey;
		border-radius: 2px;
		min-height: 1.5em;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		&__name {
			width: 90%;
		}
		&__options {
			
		}
	}
	&__input {
		border-radius: 2px;
		min-height: 1.5em;
		margin: .5em;
		border: .5px solid grey;
		overflow: hidden;
		display: flex;
		&__add-task {
			border: none;
			width: 95%;
			padding: .5em;
		}
		&__submit {
			font: green;
			border: none;
		}
	}
}